<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Angular Example</title>
    <meta charset="utf-8" />
    <link href="lib/bootstrap/v3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <script src="lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="lib/bootstrap/v3.3.7/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/moment/moment-with-locales.js"></script>

    <script>
        var app = angular.module('app', []);
    </script>
</head>
<body data-spy="scroll" data-target=".scrollspy">
    <div class="jumbotron">
        <div class="container">
            <h1>Angular Example</h1>
            <h3>Filters, Directives</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <h2 id="SecFilters">Angular Filters</h2>
                <section id="SecFilterDateTime" ng-controller="FiltersController">
                    <h3>Date Time</h3>
                    <div class="panel panel-danger panel-example">
                        <div class="form-group">
                            <input type="date" class="form-control" ng-model="dt" />
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        appDate
                                    </span>
                                    <span class="form-control" ng-bind="dt | appDate"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        appDateTime
                                    </span>
                                    <span class="form-control" ng-bind="dt | appDateTime"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        appFullDateTime
                                    </span>
                                    <span class="form-control" ng-bind="dt | appFullDateTime"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        app.controller('FiltersController', function ($scope, $interval) {
                            $scope.dt = new Date();
                            $interval(function () {
                                $scope.dt = moment($scope.dt).add(1, 's')._d;
                            }, 1000);
                        });
                    </script>
                </section>

                <section id="SecPager" ng-controller="PagerController">
                    <h2>Pager</h2>
                    <div class="panel panel-default panel-example">
                        <form>
                            <div class="row">
                                <div class="form-group form-group-sm col-xs-4">
                                    <label>Record Count</label>
                                    <input type="number" class="form-control" ng-model="pagerModel.RecordCount" />
                                </div>
                                <div class="form-group form-group-sm col-xs-4">
                                    <label>Page Size</label>
                                    <input type="number" class="form-control" ng-model="pagerModel.PageSize" />
                                </div>
                                <div class="form-group form-group-sm col-xs-4">
                                    <label>Total Page</label>
                                    <input type="text" class="form-control" ng-model="pagerModel.PageCount" readonly />
                                </div>
                            </div>
                        </form>
                        <bn-pager ng-model="pagerModel" on-page="onPage" show-summary="true"></bn-pager>
                    </div>

                    <script>
                        app.controller('PagerController', function ($scope) {
                            $scope.pagerModel = {
                                //DisplayPageNumbers: [1, 2, -1, 7, 8, 9, -1, 20, 21],
                                CurrentPage: 1,
                                RecordCount: 405,
                                PageSize: 20
                            };
                            $scope.$watch("pagerModel", function (n, o) {
                                if (n.RecordCount != o.RecordCount || n.PageSize != o.PageSize)
                                    $scope.pagerModel.CurrentPage = 1;
                                $scope.pagerModel.PageCount = Math.ceil($scope.pagerModel.RecordCount / $scope.pagerModel.PageSize);
                                $scope.$broadcast('onModelChanged');
                            }, true);
                            $scope.onPage = function (p) {
                                $scope.pagerModel.CurrentPage = p;
                            };
                        });
                    </script>
                </section>

                <section id="SecFormValidation" ng-controller="FormValidationController">
                    <h2>Form Validation</h2>
                    <div class="panel panel-default panel-example">
                        <form>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label>Text (Required)</label>
                                    <input type="text" class="form-control" ng-model="f1" required />
                                </div>
                                <div class="form-group col-xs-6">
                                    <label>Number</label>
                                    <input type="number" class="form-control" ng-model="f2" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-xs-6">
                                    <label>Email</label>
                                    <input type="email" class="form-control" ng-model="f3" />
                                </div>
                                <div class="form-group col-xs-6">
                                    <label>Regular Expression (Bndy\w+)</label>
                                    <input type="text" class="form-control" ng-model="f4" ng-pattern="/Bndy\w+/" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label>Dropdown</label>
                                    <select class="form-control" required ng-model="f5">
                                        <option value="">...</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script>
                        app.controller('FormValidationController', function ($scope) {
                        });
                    </script>
                </section>

            </div>
            <div class="col-xs-3" style="padding-top: 30px;">
                <nav class="scrollspy">
                    <ul class="nav nav-vertical hidden-xs hidden-sm" data-spy="affix" data-offset-top="301">
                        <li>
                            <a href="#SecFilters">Angular Filters</a>
                            <ul>
                                <li>
                                    <a href="#SecFilterDateTime">Date Time</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#SecPager">Pager</a>
                        </li>
                        <li>
                            <a href="#SecFormValidation">Form Validation</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="js/angular/filters.js"></script>
    <script src="js/angular/directives.js"></script>
    <script src="js/init.js"></script>
</body>
</html>
